extends index.jade

block nav
  li
    a(href='/unlisted') Unlisted
  li.active
    a(href='/banned')
      | Banned
      span.sr-only (current)

block content
  if items && items.length > 0
    table.table.table-bordered.table-striped.main-table
      thead
        th ID
        th Store Node
        th Spam (Good/Bad) probabilities
        th Actions
      tbody
          each item in items
            tr
              td
                a(href="pm://#{item.hash}") #{item.hash}
              td #{item.owner}
              td #{item.goodProb} / #{item.badProb}
              td
                button.btn.btn-success(type="button", onclick='window.location = "/unban/#{item.id}"') Unban
  else
    p 
      b None banned