extends index.jade

block nav
  li
    a(href='/unlisted') Unlisted
  li.active
    a(href='/banned')
      | Banned
      span.sr-only (current)

block content
  h2 Individual listings
  if items && items.length > 0
    table.table.table-bordered.table-striped.main-table
      thead
        th ID
        th Store Node
        th Spam (Good/Bad) probabilities
        th Actions
      tbody
          each item in items
            tr(class=item.badProb > 0.65 ? "spam-marked" : "")
              td
                a(href="pm://#{item.owner}/store/#{item.slug}") #{item.slug}
              td
                a(href="pm://#{item.owner}") #{item.owner.substr(0,15)}...
              td #{item.goodProb} / #{item.badProb}
              td
                button.btn.btn-primary(type="button", onclick='window.location = "/list/#{item.id}"') List
                button.btn.btn-danger(type="button", onclick='window.location = "/ban/#{item.id}"') Ban
  else
    p 
      b None banned